@import url("https://fonts.cdnfonts.com/css/arcade-classic");

* {
  padding: 0;
  margin: 0;
  font-family: "ArcadeClassic", sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: url(https://raw.githubusercontent.com/motech99/pass-the-pigs/main/imgs/background-main.png) center;
  background-size: cover;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
}

main {
  position: relative;
  display: flex;
}

#title-starter-page {
  text-align: center;
  cursor: pointer;
}

#title-starter-page a {
  display: block;
  font-size: 3em;
  color: #333;
  font-weight: 800;
  text-decoration: none;
  background: rgba(0, 0, 40, 0);
  padding: 5px 15px;
  transition: 0.5s;
}
#title-starter-page:hover a {
  color: rgb(0, 0, 0);
  text-shadow: 2px 5px 0 rgba(0, 0, 0, 0.6);
}

.container {
  display: flex;
  text-align: center;
  position: relative;
}

.hidden {
  display: none;
}

.player-1-section,
.player-2-section {
  height: 80vh;
  border-radius: 25px;
  padding-left: 10vmin;
  padding-right: 10vmin;
  position: relative;
}

.player-1-section {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 3%,
    rgba(238, 84, 202, 0.829) 100%
  );
  color: rgb(124, 8, 85);
}

.player-2-section {
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 3%,
    rgba(248, 77, 134, 0.829) 100%
  );
  color: rgb(255, 150, 194);
}

.player-2-bottom,
.player-1-bottom {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  align-items: center;
}

.player-1-bottom {
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.432) 3%,
    rgba(236, 6, 106, 0.568) 100%
  );
  color: rgb(240, 111, 218);
  border-radius: 10px;
  padding: 8px;
}

.player-2-bottom {
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 3%,
    rgba(248, 77, 134, 0.719) 100%
  );
  color: rgb(250, 135, 179);
  border-radius: 10px;
  padding: 8px;
}

.player-1-heading {
  font-size: 60px;
  margin-bottom: 50px;
}

.player-1-score {
  font-size: 60px;
  margin-bottom: 10px;
}

.player-2-heading {
  font-size: 60px;
  margin-bottom: 50px;
}

.player-1-score-count {
  font-size: 40px;
}

.current-turn-effect {
  transition: transform 0.2s ease;
  border: 5px solid black;
  transform: scale(1.1);
}

.buttons-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  align-items: center;
}

button {
  cursor: pointer;
  background: rgb(238, 84, 202);
  background: linear-gradient(
    104deg,
    rgba(238, 84, 202, 0.5) 0%,
    rgba(66, 65, 65, 0.5) 52%,
    rgba(233, 70, 211, 0.5) 100%
  );
  font-size: 30px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  color: rgb(219, 137, 240);
}
.roll-icon {
  position: absolute;
  height: 10px;
  width: 100px;
}

img {
  position: absolute;
  max-height: 400px;
  max-width: 400px;
  bottom: 55%;
  left: 50%;
  transform: translate(-50%, 50%);
}

@media only screen and (max-width: 600px) {
    #title-starter-page  {
    font-size: 30px;
   }
   .player-1-heading {
    font-size: 40px;
    margin-bottom: 0px;
   }
   .player-1-score {
    font-size: 40px;
    margin-top: 100px;
   }
   .player-1-bottom {
    font-size: 30px;
   }
   .player-2-heading {
    font-size: 40px;
    margin-bottom: 0px;
   }
   .player-2-score {
    font-size: 40px;
    margin-top: 100px;
   }
   .player-2-bottom {
    font-size: 30px;

   }
   .dice {
    width: 200px;
    height: 200px;
    
   }
    button {
        font-size: 20px;
    }
}